@media (prefers-color-scheme: dark) {
  .loader {
    border: 4px solid #1e293b;
    border-top-color:#cbd5e1;
  }
}


.loader {
  border: 4px solid #cbd5e1;
  border-radius: 50%;
  border-top-color:#1e293b;
  width: 30px;
  aspect-ratio: 1;
  animation: spin cubic-bezier(.51,.16,.37,.81) 0.7s infinite;
  position: relative;
}
.loader::before {
  content:"";
  position:absolute;
  width:100%;
  top:0;
  height:5px;
  --rad:radial-gradient(circle 2px,#1e293b 99%,#0000);
  background:
    var(--rad) left  -3.5px top 0,
    var(--rad) right -3.5px top 0;
  background-size:200% 100%;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


