@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --accent-primary: #f5855c;
  --accent-primary-hover: #ee7245;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #fafaf9;
    --foreground: #292524; /* same as label-primary */
    --label-primary: #44403c;
    --label-secondary: #78716c;
    --label-tertiary: #a8a29e;
    --border: #d6d3d1;
    --bg-card: #fafaf9;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #f5f5f4; /* same as label-primary */
    --label-primary: #f5f5f4;
    --label-secondary: #a8a29e;
    --label-tertiary: #78716c;
    --border: #44403c;
    --bg-card: #292524;
  }
}



body {
  color: var(--label-primary);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}

h1 {
  color: var(--label-primary);
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -1.7px;
}

h2 {
  color: var(--label-secondary);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

a {
  color: var(--accent-primary);
}

a:hover {
  color: var(--accent-primary-hover);
  text-decoration: underline;
}

.label-primary {
  color: var(--label-primary);
}

.label-secondary {
  color: var(--label-secondary);
}

.label-tertiary {
  color: var(--label-tertiary);
}

.card {
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.border-color {
  border-color: var(--border);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
